<header id="header">
    <div class="container">
       <h1 class="heading"> <%= data.get("heading") %> </h1>
       <p class="description"> <%= data.get("description") %> </p>
    </div><!-- .container -->
 </header>